<div class="container">
    <div class="row">

        <div class="col-sm-6">

            <form name="userForm" ng-submit="register()" novalidate>
                <h2>Register</h2>

                <div class="form-group">
                    <label>Username</label>
                    <input type="text" name="username" class="form-control" ng-model="user.username" ng-minlength="3" ng-maxlength="20" required>
                </div>

                <div class="form-group">
                    <label>Password</label>
                    <input type="password" name="passord" class="form-control" ng-model="user.password" ng-minlength="6" required>
                </div>

                <button type="submit" class="btn btn-primary" ng-disabled="userForm.$invalid">Register</button>

            </form>
        </div>
    </div>
</div>